<div class="d-flex align-items-center gap-3 mt-2 border border-light-subtle border-bottom-0 border-top-0 rounded-0">
  <%= link_to :back, class: "ms-3 fs-4 text-black btn btn-light rounded-circle" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
  <h4>Tweet</h4>
</div>
<div class="tweet-details card text-start border border-light-subtle border-top-0 rounded-0 p-3">
  <%# Profile Picture and Username %>
  <div class="d-flex gap-2 align-items-center mb-3">
    <div class="pfp fs-1 me-2">
      <% if @tweet.user.profile_picture.attached? %>
        <%= image_tag(@tweet.user.profile_thumbnail, size: "58x58" , class: "rounded-circle")%>
      <% else %>
        <i class="bi bi-person-circle"></i>
      <% end %>
    </div>
    <div class="d-flex flex-column">
      <div class="full-name fw-bold">
        <%= @tweet.user.display_name %>
      </div>
      <div class="username d-flex fw-light">
        <div class="username">
          @<%= @tweet.user.username %>
        </div>
      </div>
    </div>
  </div>
  <%# @tweet Body %>
  <p class="ms-1 fs-4 body">
    <%= @tweet.body %>
  </p>
  <%# Posted time %>
  <div class="created-at fw-light">
    <%= posted_at_time(@tweet) %>
    <i class="bi bi-dot"></i>
    <%= posted_at_date(@tweet) %>
    <i class="bi bi-dot"></i>
    <span><b class= "fw-bold"><%= @tweet.views_count %></b> Views</span>
  </div>
</div>
<div id="turbo-stats">
  <%= render partial: 'tweets/tweet_stats' %>
</div>
