  <%= turbo_frame_tag "tweet-stats" do %>
  <%# Interaction Details %>
  <div class="d-flex gap-3 text-start border border-light-subtle border-top-0 rounded-0 p-3">
    <div class = "fw-light" >
      <b class= "fw-bold"> <%= @tweet.retweets_count %></b> Retweets
    </div>
    <div class = "fw-light"><b class= "fw-bold"> <%= @tweet.likes_count %> </b> Likes
    </div>
  </div>
  <%# Action Links %>
  <div class="d-flex justify-content-evenly gap-3 text-start border border-light-subtle border-top-0 rounded-0 p-2">
    <%# Comments %>
    <%= link_to tweet_path(@tweet), data: {turbo_frame: 'turbo-stats'}, class: "comments d-flex align-items-center gap-1 text-black text-decoration-none" do %>
      <div class="comment-icon  px-2 py-1 rounded-circle">
        <i class="bi bi-chat"></i>
      </div>
    <% end %>
    <%# Retweet %>
    <%= link_to get_tweet_retweet_path(current_user, @tweet), data: {turbo_frame: 'turbo-stats', "turbo-method": get_retweeted_tweet_data_method(current_user, @tweet) }, class: "retweets d-flex align-items-center gap-1 text-black text-decoration-none" do %>
      <div class="retweet-icon px-2 py-1 rounded-circle">
        <i class = "bi bi-arrow-left-right" style = "<%=get_retweet_icon_style(current_user, @tweet)%>" ></i>
      </div>
      <div class="retweet-count fw-lighter"  style = "<%=get_retweet_icon_style(current_user, @tweet)%>" >
      </div>
    <% end %>
    <%# Likes %>
    <%= link_to get_tweet_like_path(current_user, @tweet), data: {turbo_frame: 'turbo-stats', "turbo-method": get_liked_tweet_data_method(current_user, @tweet) }, class: "likes d-flex align-items-center gap-1 text-black text-decoration-none" do %>
      <div class="like-icon px-2 py-1 rounded-circle">
        <i class = "<%=get_heart_type(current_user, @tweet)%>" style = "<%=get_heart_style(current_user, @tweet)%>" ></i>
      </div>
    <% end %>
  </div>
<% end %>
