  <%= turbo_frame_tag dom_id(tweet) do %>
  <%# <%= link_to tweet_path(tweet.id), class: "text-black", style: "text-decoration:none;" do %>
    <div class="tweet card border border-light-subtle border-bottom-0 rounded-0 d-flex flex-row justify-content-evenly">
      <div class="icon fs-1 m-2">
        <% if tweet.user.profile_picture.attached? %>
          <%= image_tag(tweet.user.profile_thumbnail, size: "58x58" , class: "rounded-circle")%>
        <% else %>
          <i class="bi bi-person-circle"></i>
        <% end %>
      </div>
      <div class="w-100 m-2 d-flex flex-column align-items-start gap-1">
        <%# Username Info %>
        <div class="d-flex gap-2">
          <div class="full-name fw-bold">
            <%= tweet.user.display_name %>
          </div>
          <div class="username d-flex fw-light">
            <div class="username">
              @<%= tweet.user.username %>
            </div>
            <i class="bi bi-dot"></i>
            <div class="created-at">
              <%= posted_at(tweet) %>
            </div>
          </div>
        </div>
        <%# tweet Body %>
        <p class="body">
          <%= tweet.body %>
        </p>
        <div class="likes-and-comments w-100 d-flex justify-content-between">
          <%# Comments %>
          <%= link_to dashboard_path, class: "comments d-flex align-items-center gap-1 text-black text-decoration-none" do %>
            <div class="comment-icon  px-2 py-1 rounded-circle">
              <i class="bi bi-chat"></i>
            </div>
            <div class="comment-count fw-lighter">
              5
            </div>
          <% end %>
          <%# Retweet %>
          <div class = "retweet d-flex align-items-center gap-1">
            <div class="retweet-icon px-2 py-1 rounded-circle" >
              <i class="bi bi-arrow-left-right"></i>
            </div>
            <div class="retweet-count fw-lighter">
              5
            </div>
          </div>
          <%# Likes %>
          <%= link_to get_tweet_like_path(current_user, tweet), data: {"turbo-method": get_data_method(current_user, tweet) }, class: "likes d-flex align-items-center gap-1 text-black text-decoration-none" do %>
            <div class="like-icon px-2 py-1 rounded-circle">
              <i class = "<%=get_heart_type(current_user, tweet)%>" style = "<%=get_heart_style(current_user, tweet)%>" ></i>
            </div>
            <div class="like-count fw-lighter">
              <%= tweet.likes_count %>
            </div>
          <% end %>
          <%# Views %>
          <div class = "d-flex align-items-center gap-1" >
            <div class="views-icon px-2 py-1 rounded-circle">
              <i class="bi bi-bar-chart-line"></i>
            </div>
            <div class="views-count fw-lighter">
              5
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# <% end %>
  <% end %>
