<ul class="d-flex flex-column align-items-start gap-3" style= "list-style-type:none;">
  <%= link_to dashboard_path, class: "btn btn-light rounded-pill" do %>
    <div class="twitter-icon fs-3">
      <i class="bi bi-twitter"></i>
    </div>
  <% end %>
  <%# Home %>
  <%= link_to dashboard_path, class: "btn btn-light rounded-pill" do %>
    <li class="sidebar-item fs-4">
      <i class="bi bi-house-door"></i>
    </li>
  <% end %>
  <%# Explore %>
  <%= link_to dashboard_path, class: "btn btn-light rounded-pill" do %>
    <li class="sidebar-item fs-4 ">
      <i class="bi bi-hash"></i>
    </li>
  <% end %>
  <%# Notifications %>
  <%= link_to dashboard_path, class: "btn btn-light rounded-pill" do %>
    <li class="sidebar-item fs-4 ">
      <i class="bi bi-bell"></i>
    </li>
  <% end %>
  <%# Messages %>
  <%= link_to dashboard_path, class: "btn btn-light rounded-pill" do %>
    <li class="sidebar-item fs-4 ">
      <i class="bi bi-envelope"></i>
    </li>
  <% end %>
  <%# Profile %>
  <%= link_to dashboard_path, class: "btn btn-light rounded-pill" do %>
    <li class="sidebar-item fs-4 ">
      <i class="bi bi-person"></i>
    </li>
  <% end %>
  <%# Tweet Button %>
  <button type="button" class="btn btn-primary rounded-pill fs-4" data-bs-toggle="modal" data-bs-target="#smallScreenModal">
    <i class="bi bi-pen"></i>
  </button>
  <%# User Dropup %>
  <div class="dropup">
    <button type="button" class="btn btn-light rounded-pill fs-3" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person-circle"></i>
    </button>
    <ul class="dropdown-menu fs-5 rounded-5 p-3">
      <li class="dropdown-item">
        <%= link_to "Edit Profile", new_username_path, class: "nav-link"%>
      </li>
      <li class="dropdown-item">
        <%= link_to "Log Out", destroy_user_session_path, data: {"turbo-method": :delete}, class: "nav-link", style: "background:none; border:none;"%>
      </li>
    </ul>
  </div>
</ul>
<!-- Modal -->
<div class="modal " id="smallScreenModal" tabindex="-1" aria-labelledby="smallScreenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content p-3">
      <button type="button" id = "smallScreenModalCloseBtn" class="btn-close mb-2" data-bs-dismiss="modal" aria-label="Close"></button>
      <%= render partial: "tweets/form" %>
    </div>
  </div>
</div>
