<style>
  .notification {
      -moz-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      -webkit-transition: all 0.1 ease-in;
      transition: all 0.1s ease-in;
  }
  .notification:hover {
      background-color: #e9ecef;
  }
  .body{
  max-width: 18rem;
  }
  @media (min-width: 992px) {
  .body{
      max-width: 25rem;
  }
  }
</style>
<div class="notification d-flex gap-3 p-2">
  <% if type == "Like" %>
    <div class="fs-4">
      <i class = "bi bi-heart-fill" style = "color: #de5c9d" ></i>
    </div>
  <% else %>
    <div class="fs-4 text-primary">
      <i class = "bi bi-stars"></i>
    </div>
  <% end %>
  <div class="noti-details">
    <div class="icon fs-6 mb-1">
      <% if created_by.profile_picture.attached? %>
        <%= image_tag(created_by.profile_thumbnail, size: "40x40" , class: "rounded-circle")%>
      <% else %>
        <div class="icon fs-2">
          <i class="bi bi-person-circle"></i>
        </div>
      <% end %>
    </div>
    <span>
      <strong>
        <%= link_to user_path(created_by), class: "text-black text-decoration-none" do %>
          <%= created_by.display_name %>
        <% end %>
      </strong>
      <%= message %>
    </span>
    <% if type == 'ReplyTweet' %>
      <%= link_to tweet_path(tweet.parent_tweet), class: "text-decoration-none" do %>
        <p class = "text-secondary mt-1 mb-0 body"><%= tweet.body %></p>
      <% end %>
    <% elsif type != "Follow" %>
      <%= link_to tweet_path(tweet), class: "text-decoration-none" do %>
        <p class = "text-secondary mt-1 mb-0 body"><%= tweet.body %></p>
      <% end %>
    <% end %>
  </div>
</div>
