<style>
  /* .user-username{
    max-width: 9rem;
  } */
     .open-profile-icon{
       color: #B0B0B0;
     }
     .full-name:hover, .user-username:hover {
       text-decoration: underline;
     }
</style>
<% if border %>
  <% border_val = "border"%>
<% else %>
  <% border_val = "border-0"%>
<% end %>
<div class="<%= border_val %> border-light-subtle border-top-0 p-3">
  <div class="w-100 d-flex justify-content-between gap-4">
    <div class = "d-flex justify-content-between align-items-center gap-2">
      <div class="pfp">
        <% if user.profile_picture.attached? %>
          <%= image_tag(user.profile_page_thumbnail, size: '50x50' , class: "rounded-circle") %>
        <% else %>
          <%= image_tag "user-blank.png", size: "50x50" %>
        <% end %>
      </div>
      <%= link_to user_path(user), class: "text-decoration-none text-black", data: {"turbo-frame": "_top"} do %>
        <div class="d-flex flex-column text-start" >
          <div class="full-name fw-bolder">
            <%= user.display_name %>
          </div>
          <div class="user-username text-secondary text-truncate">
            @<%= user.username %>
          </div>
        </div>
      <% end %>
    </div>
    <% if border %>
      <div id = "follow-unfollow-button-explore-page" >
        <%= render 'users/follow_unfollow_direct',  user: user %>
      </div>
    <% end %>
  </div>
</div>
