<%= turbo_frame_tag "follow-count" do %>
  <div class="d-flex gap-3">
    <%= link_to user_followings_path(user), class: "fw-light followings-count text-black text-decoration-none", data: {"turbo-method": "get", "turbo-frame": "_top"} do %>
      <b class= "fw-bold"> <%= user.followings_count %></b> Following
    <% end %>
    <%= link_to user_followers_path(user), class: "fw-light followers-count text-black text-decoration-none", data: {"turbo-method": "get", "turbo-frame": "_top"} do %>
      <b class= "fw-bold"> <%= user.followers_count %></b> Followers
    <% end %>
  </div>
<% end %>
