<style>
  .middle-column{
    padding-bottom: 4.5rem;
  }
</style>
<div class="container">
  <div class = "row justify-content-center">
    <div class="col col-sm-auto col-md-auto d-none d-sm-block d-xl-none" >
      <%= render 'partials/sidebar_mobile' %>
    </div>
    <div class="col col-sm-auto d-none d-xl-block" >
      <%= render 'partials/sidebar' %>
    </div>
    <div class="d-block d-sm-none" >
      <%= render 'partials/mobile_toolbar' %>
    </div>
    <section class="ps-0 pe-0 middle-column m-0 p-sm-2 col col-sm-auto col-md-10 col-lg-6 col-xl-5 col-xxl-6">
      <section id = "user-profile-section">
        <%= render 'users/full_profile', locals:{ user: @user } %>
      </section>
    </section>
    <div class="col col-sm-auto d-none d-lg-block">
      <section>
        <h4 class = "border border-light-subtle mb-0 p-2 fw-bold">Who to follow</h4>
        <% @all_users.each do |user| %>
          <%= render 'users/visit_user_card', user: user %>
        <% end %>
      </section>
    </div>
  </div>
</div>
