<%= form_with model: current_user, local: true, url: username_path(current_user), 
      html: {method: :put}, data: {controller: "spinner", action: 'submit->spinner#show'} do |f| %>
  <div class="container ps-5 pe-5">
    <%# Username %>
    <div class="field mb-2">
      <%= f.label "Username (without spaces)", class: "fs-5 mb-1" %><br />
      <%= f.text_field :username, pattern: '^\S+$', required: true, autofocus: true,  class: "form-control form-control-lg", maxlength: 30 %>
    </div>
    <%# Display Name %>
    <div class="field mb-2">
      <%= f.label :display_name, class: "fs-5 mb-1" %><br />
      <%= f.text_field :display_name, autofocus: true, autocomplete: "display_name",  class: "form-control form-control-lg", maxlength: 30  %>
    </div>
    <%# Profile Picture %>
    <%= f.label "Profile picture (JPG JPEG PNG)", class: "fs-5 mb-1" %><br />
    <div class="input-group mb-2">
      <%= f.file_field :profile_picture, accept: ".jpg, .jpeg, .png", class: "form-control form-control-lg" %>
    </div>
    <%# Submit %>
    <div class="actions mt-4 mb-2">
      <%= f.submit "Proceed", id: "submit-btn", class: "btn btn-lg btn-primary w-100" %>
      <button id="spinner" class="btn btn-lg btn-primary w-100 d-none" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="">Please wait...</span>
      </button>
    </div>
    <%# Back to Whisper %>
    <%# These conditions make sure that the user is not a first time logger %>
    <% if current_user.username.present? && current_user.profile_picture.attached? %>
      <%= link_to "Back to Whisper", dashboard_path, id:"back-to-twitter", class: "btn btn-outline-primary w-100 mb-4" %>
    <% end %>
  </div>
<% end %>
